<!-- including the boiler plate code -->
<% layout("/layouts/boilerplate") %>

     <div class="row mt-3">
          <h2 class="col-6 offset-3">Login on ConfirmStay</h2>
          <div class="col-6 offset-3">
               <form action="/login" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                         <label for="username" class="form-label">Username</label>
                         <input name="username" id="username" placeholder="" type="text" class="form-control"
                              required />

                         <!-- Success And Failure Text -->
                         <div class="valid-feedback">
                              Username available!
                         </div>
                    </div>

                    <div class="mb-3">
                         <label for="password" class="form-label">Password</label>
                         <input name="password" id="password" placeholder="" type="password" class="form-control"
                              required />

                         <!-- Success And Failure Text -->
                         <div class="valid-feedback">
                              Strong password!
                         </div>
                    </div>

                    <button class="btn btn-success mt-3">Login</button>
               </form>
          </div>
     </div>